job_template: &job_template
  max_concurrency: 10
  path_alias: github.com/pusher/testing
  agent: kubernetes
  always_run: true
  skip_report: false
  decorate: true

container_template: &container_template
  image: quay.io/pusher/kubebuilder-builder:v20190821-328974b
  name: runner
  command: ["/usr/local/bin/runner"]

container_template_small: &container_template_small
  <<: *container_template
  resources:
    requests:
      cpu: 2
      memory: 2Gi
    limits:
      cpu: 4
      memory: 4Gi

container_template_large: &container_template_large
  <<: *container_template
  resources:
    requests:
      cpu: 4
      memory: 4Gi
    limits:
      cpu: 8
      memory: 8Gi

security_context: &security_context
  securityContext:
    runAsUser: 0
    runAsGroup: 0

presubmits:
  pusher/testing:
    - name: pull-testing-verify-config
      <<: *job_template
      labels:
        preset-dind-enabled: "true"
      spec:
        <<: *security_context
        containers:
          - <<: *container_template_small
            args:
              - make verify-config
            securityContext:
              privileged: true
      trigger: "(?m)^/verify config,?(\\s+|$)"
      rerun_command: "/verify config"

    - name: pull-testing-verify-image-tags
      <<: *job_template
      labels:
        preset-dind-enabled: "true"
      spec:
        <<: *security_context
        containers:
          - <<: *container_template_small
            args:
              - make verify-image-tags
            securityContext:
              privileged: true
      trigger: "(?m)^/verify image-tags,?(\\s+|$)"
      rerun_command: "/verify image-tags"

    - name: pull-testing-build-docker
      max_concurrency: 10
      path_alias: github.com/pusher/testing
      agent: kubernetes
      run_if_changed: "^(images/.*)"
      skip_report: false
      decorate: true
      labels:
        preset-dind-enabled: "true"
        preset-docker-credentials: "true"
      spec:
        containers:
          - image: quay.io/pusher/builder:v20190821-328974b
            name: build-docker
            command: ["/usr/local/bin/runner"]
            args:
              - VERSION=pull-${PULL_NUMBER}
              - TAGS=pull-${PULL_NUMBER},${PULL_PULL_SHA}
              - "REPOSITORY=quay.io/pusher make --directory=images push && REPOSITORY=docker.io/pusher make --directory=images push"
            resources:
              requests:
                cpu: 1
                memory: 1Gi
            securityContext:
              privileged: true
      trigger: "(?m)^/build docker,?(\\s+|$)"
      rerun_command: "/build docker"

    - name: pull-testing-build-docker-pipeline
      max_concurrency: 10
      path_alias: github.com/pusher/testing
      agent: tekton-pipeline
      run_if_changed: "^(images/.*)"
      skip_report: false
      labels:
        preset-dind-enabled: "true"
        preset-docker-credentials: "true"
      pipeline_run_spec:
          pipelineRef:
            name: testing-pull-builder-images
          resources:
          - name: testing
            resourceRef:
              name: PROW_IMPLICIT_GIT_REF
      trigger: "(?m)^/build docker-pipeline,?(\\s+|$)"
      rerun_command: "/build docker-pipeline"


    - name: pull-testing-promoter-lint
      <<: *job_template
      always_run: false
      run_if_changed: "^(plugins/promoter/.*)"
      spec:
        containers:
          - <<: *container_template_small
            args:
              - make --directory=plugins/promoter lint
      trigger: "(?m)^/test (?:.*? )?(promoter-lint|all)(?:.*? )?$"
      rerun_command: "/test promoter-lint"

    - name: pull-testing-promoter-build
      <<: *job_template
      always_run: false
      run_if_changed: "^(plugins/promoter/.*)"
      spec:
        containers:
          - <<: *container_template_small
            args:
              - make --directory=plugins/promoter build
      trigger: "(?m)^/test (?:.*? )?(promoter-build|all)(?:.*? )?$"
      rerun_command: "/test promoter-build"

    - name: pull-testing-promoter-test
      <<: *job_template
      always_run: false
      run_if_changed: "^(plugins/promoter/.*)"
      spec:
        containers:
          - <<: *container_template_large
            args:
              - make --directory=plugins/promoter test
      trigger: "(?m)^/test (?:.*? )?(promoter-test|all)(?: .*?)?$"
      rerun_command: "/test promoter-test"

    - name: pull-testing-promoter-build-docker
      <<: *job_template
      always_run: false
      labels:
        preset-dind-enabled: "true"
        preset-docker-credentials: "true"
      spec:
        containers:
          - <<: *container_template_large
            args:
              - TAGS=pull-${PULL_NUMBER},${PULL_PULL_SHA}
              - PUSH_TAGS=${TAGS}
              - make --directory=plugins/promoter docker-build docker-tag docker-push
            securityContext:
              privileged: true
      trigger: "(?m)^/build (?:.*? )?(promoter-docker|all)(?: .*?)?$"
      rerun_command: "/build promoter-docker"
